.logo {
    width:39%;
  }

  .nav-theme {
    background-color: #a3a3b380;
    font-size: 20px;  
  }
  .animate-navbar {
    animation: moveDown 0.5s ease-in-out;
  }

  @keyframes moveDown {
    from {
      transform: translateY(-9rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
